// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// https://bootstrapvars.com/4.4/

$red:                         #f05555;
$gray-100:                    #495057;
$gray-200:                    #e4e4e4;
$gray-900:                    #30302e;
$beige-100:                   #f0ebe3;
$primary:                     #055577;
$secondary:                   #0777be;
$success:                       $secondary;
$info:                          $gray-900;
$warning:                       $primary;
$danger:                        $red;
$black:                       #333;


// Text Colors
$text-color-1:                  #6b6b6b;
$text-color-2:                  $primary;
$text-color-3:                  #d5d5d5;
$text-color-4:                  #b1b1b1;

// Font Family
$font-family-playfair:          "Helvetica", serif;
$font-family-helv:              "Helvetica", serif;
$font-family-heebo:             "Heebo", sans-serif;

// Font Size
$font-size-base: 1rem;

// Font Weight
$font-weight-lighter:           lighter;
$font-weight-light:             300;
$font-weight-normal:            400;
$font-weight-medium:            500;
$font-weight-semibold:          600;
$font-weight-bold:              700;
$font-weight-bolder:            800;
$font-weight-black:             900;
$font-weight-base:              $font-weight-light;
$line-height-base:              1.5;

// Header
$h1-font-size:                  $font-size-base * 4;
$h2-font-size:                  $font-size-base * 2;
$h3-font-size:                  $font-size-base * 1.5;
$h4-font-size:                  $font-size-base * 0.9375;
$h5-font-size:                  $font-size-base * 0.75;
$h6-font-size:                  $font-size-base * 0.6875;
$h1-line-height:                $font-size-base * 4.5;
$h2-line-height:                $font-size-base * 3;
$h3-line-height:                $font-size-base * 2.25;
$h4-line-height:                $font-size-base * 1.5;
$h5-line-height:                $font-size-base * 1.5;
$h6-line-height:                $font-size-base * 1.5;

// Header Touch
$h1-font-size-touch:            $font-size-base * 2.25;
$h2-font-size-touch:            $font-size-base * 1.5;
$h3-font-size-touch:            $font-size-base * 1.0625;
$h4-font-size-touch:            $font-size-base * 0.875;
$h5-font-size-touch:            $font-size-base * 0.75;
$h6-font-size-touch:            $font-size-base * 0.6875;
$h1-line-height-touch:          $font-size-base * 2.5;
$h2-line-height-touch:          $font-size-base * 2.25;
$h3-line-height-touch:          $font-size-base * 1.5;
$h4-line-height-touch:          $font-size-base * 1.5;
$h5-line-height-touch:          $font-size-base * 1.5;
$h6-line-height-touch:          $font-size-base * 1.5;


// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1024px,
  xxl: 1024px
);

// Grid containers
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1024px,
  xxl: 1024px
);
