/**
 * Basic typography style for copy text
 A solution for this problem is percentage. Usually default font-size of the browser is 16px.
 Setting font-size: 100% will make 1rem = 16px. But it will make calculations a little difficult.
 A better way is to set font-size: 62.5%. Because 62.5% of 16px is 10px. Which makes 1rem = 10px.
 CALCULATION: Element font size in rem x 16px;
 */

 // Body text
// -------------------------

// html {
//   font-size: 62.5%;
// }

body {
  font-size: 14px;
  font-weight: $font-weight-normal;
  font-family: $font-family-helv;
  color: $text-color-1;

}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 28px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 36px;
  }
}

ol,
ul,
p,
blockquote,
.preamble {
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 20px;
  }
}

// Headings
// -------------------------
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-family: $font-family-helv;
}

h5,
h6,
.h5,
.h6 {
  font-family: $font-family-helv;
}

h1,
.h1 {
  color: $white;
  font-size: 26px;
  font-weight: $font-weight-bold;
  line-height: $h1-line-height-touch;

  @include media-breakpoint-up(lg) {
    font-size: 26px;
  }
}

h2,
.h2 {
  color: $secondary;
  font-size: 26px;
  font-weight: $font-weight-bold;
  line-height: $h2-line-height-touch;
  text-transform: initial;

  @include media-breakpoint-up(lg) {
    font-size: 26px;
  }
}

h3,
.h3 {
  color: $primary;
  font-size: 16px;
  font-weight: $font-weight-bold;
  line-height: $h3-line-height-touch;
  text-transform: initial;

}

h4,
.h4 {
  color: $primary;
  font-size: 16px;
  font-weight: $font-weight-bold;
  line-height: $h3-line-height-touch;
  text-transform: initial;

}

h5,
.h5 {
  color: $text-color-1;
  font-size: $h5-font-size-touch;
  font-weight: $font-weight-bold;
  letter-spacing: normal;
  line-height: $h5-line-height-touch;
  text-transform: initial;

  @include media-breakpoint-up(lg) {
    @include font-size($h5-font-size);
    line-height: $h5-line-height;
  }
}

h6,
.h6 {
  color: $text-color-1;
  font-size: $h6-font-size-touch;
  font-weight: $font-weight-bold;
  letter-spacing: normal;
  line-height: $h6-line-height-touch;
  text-transform: initial;

  @include media-breakpoint-up(lg) {
    @include font-size($h6-font-size);
    line-height: $h6-line-height;
  }
}
