// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

.container {
  padding-left: 20px;
  padding-right: 20px;
  @include media-breakpoint-up(md) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.form-control,
.custom-select {
  font-size: 14px;
  color:$text-color-4;
  font-family: $font-family-helv;
  border: 1px solid $text-color-4;
  &::placeholder {
    font-size: 14px;
    color:$text-color-4;
    font-family: $font-family-helv;
  }
}

.half {
  max-width:50%;
  width:100%;
}
.coin {
  max-width:55%;
  @include media-breakpoint-up(md) {
    max-width:70%;
  }
}

.saying {
  max-width:60%;
  @include media-breakpoint-up(md) {
    max-width:45%;
  }
}

.logo {
  max-width:170px;
}

.hero {
  max-width:750px;
  margin-top:30px;
  margin-bottom:10px;
}

.btn-primary {
  font-weight: $font-weight-bold;
  background-color:$secondary;
  border:0;
  padding:10px 45px;
  border-radius: 5px;
}

.footer {
  border-top:0;
}
