---
layout: default
title: Restore Mobile Wallet Checkout
---
<!-- <section class="mt-4 mb-5">
  <div class="container mb-4">
    <h1 class="font-weight-bold title text-center mb-5">BOOTSTRAP GULP STARTER TEMPLATE</h1>
    <div class="jumbotron">
      <h3 class="display-4">{{ data.title }}</h3>
      <p class="lead">{{ data.description }}</p>
    </div>
  </div>
</section> -->

  <div class="container">
    <div class="py-5 text-center">
      <img class="saying half" src="{{root}}assets/img/how-it-works.png" alt="how it works">
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-3 text-center">
            <img class="half" src="{{root}}assets/img/calicon.png" alt="calendar">
          </div>
          <div class="col-9">
            <h4>Enjoy unlimited access to our core services plus one IV drip during your first month</h4>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-3 text-center">
            <img class="coin" src="{{root}}assets/img/cashicon.png" alt="money">
          </div>
          <div class="col-9">
            <h4>After that, pay only $XX/month - that's $XX off the regular membership rate of $XX</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3 mt-3">
      <div class="col-md-6">
        <h2>Lets do this!</h2>
      </div>
    </div>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6">
              <h4 class="mb-3">Enrollee Payment Information</h4>
                <div class="mb-3">
                  <!-- <label for="cc-name">Name on card</label> -->
                  <input aria-label="credit card Name (as appears on card)" type="text" class="form-control" id="cc-name" placeholder="Name (as appears on card)" required>
                  <!-- <small class="text-muted">Full name as displayed on card</small> -->
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
                <div class="mb-3">
                  <!-- <label for="cc-number">Credit card number</label> -->
                  <input aria-label="Credit Card Number" type="text" class="form-control" id="cc-number" placeholder="Card Number*" required>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-3">
                    <!-- <label for="cc-expiration">Expiration</label> -->
                    <input aria-label="Expiration" type="text" class="form-control" id="cc-expiration" placeholder="Exp* XX/XX" required>
                    <div class="invalid-feedback">
                      Expiration date required
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <!-- <label for="cc-cvv">CVV</label> -->
                    <input aria-label="CVV" type="text" class="form-control" id="cc-cvv" placeholder="CVV*" required>
                    <div class="invalid-feedback">
                      Security code required
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-6">
              <h4 class="mb-3">Enrollee Billing Information</h4>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <!-- <label for="firstName">First name</label> -->
                    <input aria-label="First name" type="text" class="form-control" id="firstName" placeholder="First Name*" value="" required>
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <!-- <label for="lastName">Last name</label> -->
                    <input aria-label="Last name" type="text" class="form-control" id="lastName" placeholder="Last Name*" value="" required>
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <!-- <label for="address">Address</label> -->
                  <input aria-label="Address" type="text" class="form-control" id="address" placeholder="Address*" required>
                  <div class="invalid-feedback">
                    Please enter your billing address.
                  </div>
                </div>

                <div class="mb-3">
                  <!-- <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label> -->
                  <input aria-label="Address 2" type="text" class="form-control" id="address2" placeholder="Address 2">
                </div>

                <div class="row">
                  <div class="col-md-6 mb-3">
                    <!-- <label for="state">State</label> -->
                    <select aria-label="state" class="custom-select d-block w-100" id="state" required>
                      <option value="">State*</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="CT">Connecticut</option>
                      <option value="DE">Delaware</option>
                      <option value="DC">District Of Columbia</option>
                      <option value="FL">Florida</option>
                      <option value="GA">Georgia</option>
                      <option value="HI">Hawaii</option>
                      <option value="ID">Idaho</option>
                      <option value="IL">Illinois</option>
                      <option value="IN">Indiana</option>
                      <option value="IA">Iowa</option>
                      <option value="KS">Kansas</option>
                      <option value="KY">Kentucky</option>
                      <option value="LA">Louisiana</option>
                      <option value="ME">Maine</option>
                      <option value="MD">Maryland</option>
                      <option value="MA">Massachusetts</option>
                      <option value="MI">Michigan</option>
                      <option value="MN">Minnesota</option>
                      <option value="MS">Mississippi</option>
                      <option value="MO">Missouri</option>
                      <option value="MT">Montana</option>
                      <option value="NE">Nebraska</option>
                      <option value="NV">Nevada</option>
                      <option value="NH">New Hampshire</option>
                      <option value="NJ">New Jersey</option>
                      <option value="NM">New Mexico</option>
                      <option value="NY">New York</option>
                      <option value="NC">North Carolina</option>
                      <option value="ND">North Dakota</option>
                      <option value="OH">Ohio</option>
                      <option value="OK">Oklahoma</option>
                      <option value="OR">Oregon</option>
                      <option value="PA">Pennsylvania</option>
                      <option value="RI">Rhode Island</option>
                      <option value="SC">South Carolina</option>
                      <option value="SD">South Dakota</option>
                      <option value="TN">Tennessee</option>
                      <option value="TX">Texas</option>
                      <option value="UT">Utah</option>
                      <option value="VT">Vermont</option>
                      <option value="VA">Virginia</option>
                      <option value="WA">Washington</option>
                      <option value="WV">West Virginia</option>
                      <option value="WI">Wisconsin</option>
                      <option value="WY">Wyoming</option>
                    </select>
                    <div class="invalid-feedback">
                      Please provide a valid state.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <!-- <label for="zip">Zip</label> -->
                    <input aria-label="zip" type="text" class="form-control" id="zip" placeholder="Zip*" required>
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>
                </div>

                <!-- <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="same-address">
                  <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                </div> -->

              <!-- <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="credit">Credit card</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="debit">Debit card</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="paypal">PayPal</label>
                </div>
              </div> -->

          </div>
        </div>
        <h4 class="mb-3 mt-3">Enrollee Contact Information</h4>
        <div class="row">
          <div class="col-md-6 mb-3">
            <!-- <label for="email">Email</label> -->
            <input aria-label="email" type="email" class="form-control" id="email" placeholder="Email*" required>
            <div class="invalid-feedback">
              Please enter a valid email address for updates.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <!-- <label for="phone">Phone</label> -->
            <input aria-label="phone" type="phone" class="form-control" id="phone" placeholder="Phone*" required>
            <div class="invalid-feedback">
              Please enter a valid phone number.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-4">
            <p>This promotion includes your first month’s access to our Founders Membership and one Tier One IV Drip Therapy. Your first month will begin on Opening Day. After your first month, your membership will automatically roll into Restore’s Shareable Wellness Membership level at the Founder’s Rate, valid for the lifetime of your membership. This promotion is subject to Restore’s 90-day cancellation policy. This offer is only valid for Restore {store name}. Must be a local resident.</p>
            <div class="custom-control custom-checkbox mb-4">
              <input aria-label="terms" type="checkbox" class="custom-control-input" id="save-info" required>
              <label class="custom-control-label" for="save-info">I Agree to the <a href="#" data-toggle="modal" data-target="#termsModal">terms and conditions</a></label>
            </div>

            <button type="button" class="btn btn-primary" id="validate" data-toggle="modal" data-target="#membershipModal">Enroll now</button>

          </div>
        </div>
        <!-- Modal Membership -->
        <div class="modal fade" id="membershipModal" tabindex="-1" role="dialog" aria-labelledby="membershipModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="membershipModalTitle">Membership Terms</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Submit Enrollment</button>
              </div>
            </div>
          </div>
        </div>
      </form>
  </div>

  <!-- Modal Terms -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="termsModalTitle">Terms & Conditions</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Links to Third Party Sites. The Site may contain links to websites operated by third parties. These links do not constitute or imply an endorsement of the linked site. The linked sites may appear to be integrated into the Site, but are not under Operator's control. Operator is not responsible for the operation or content of any linked site or subsequent links from that site. The policies that govern the use of a linked site will differ from these Terms of Use. You should review the policies of a linked site before making a decision to use that site.

User Submitted Content. By posting or submitting any content or other materials to the Site, including any audio or video files, classified advertisements or personal information (collectively, "Your Content"), you affirm, represent and warrant that (1) you own or otherwise control all right, title and interest in and to Your Content, including the copyright thereto, (2) none of the materials included in Your Content are defamatory, libelous, obscene or pornographic, and (3) use of Your Content as provided in these Terms of Use will not violate any legal rights (tangible or intangible) of any third party. You hereby grant Operator and its designees a worldwide, royalty-free, non- exclusive, transferable, sublicenseable license (the "License") to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit and prepare derivative works of Your Content in connection with the Site or the conduct of Operator's business in any formats and through any media channels. Operator may monitor Your Content as it appears on the Site and may edit or delete Your Content at any time and for any or no reason without your permission.

Indemnification. You will indemnify, defend, reimburse and hold harmless Operator, and each parent company, subsidiary, affiliate, division, officer, director, employee, contractor and agent of Operator, for, from and against any and all liabilities, claims and expenses of any type or nature, including costs and attorneys' fees, that arise from the exercise of the License set forth above or from your use of the Site.

Intellectual Property. You acknowledge that all content and materials available at the Site other than Your Content (collectively, the "Content") are owned or controlled by Operator and protected by national and international copyrights, trademarks, service marks, patents, patent registration rights, trade secrets, know-how or other proprietary rights and laws. You may only use the Site and the Content as expressly permitted in these Terms of Use and for no other purpose. You may download, print or view individual pages at the Site for private, noncommercial use, provided you do not delete, change or otherwise modify any of the Content, including any copyright or trademark notices. You may not use the site for any commercial purpose, including but not limited to, sending unsolicited commercial email or making unsolicited commercial phone calls. Except as authorized by Operator in writing on a case by case basis, you will not sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works from any of the Content. The systematic retrieval of any of the Content to create or compile, directly or indirectly, a collection, compilation, database or directory without the written permission of Operator is prohibited. Unless otherwise indicated, all logos, names, package designs and marks on the Site are trademarks or service marks and may not be used without Operator's permission. Operator's policy is to terminate the online privileges of individuals who repeatedly violate the copyrights of others.

Notice and Procedure for Making Claims of Copyright Infringement. Pursuant to federal copyright law, if you believe copyrighted work is available at the Site in a way that constitutes copyright infringement, please see the Notice and Take Down materials posted elsewhere at the Site.

Disclaimer of Warranties. YOU AGREE THAT THE SOFTWARE, PRODUCTS AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE, INCLUDING THE CONTENT (COLLECTIVELY, THE "SITE MATERIALS"), ARE PROVIDED ON AN "AS IS/WHERE IS/AS AVAILABLE" BASIS. OTHER THAN THOSE WARRANTIES THAT ARE INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER APPLICABLE LAW, THE SITE MATERIALS ARE PROVIDED FOR YOUR USE WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING THE WARRANTIES OF TITLE AND NON-INFRINGEMENT AND THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. OPERATOR DOES NOT MAKE ANY WARRANTY THAT ANY OF THE SITE MATERIALS ARE ACCURATE, RELIABLE OR CORRECT, THAT THE SITE WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION, THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED, THAT THE SITE MATERIALS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR THAT YOU WILL ACHIEVE SUCCESSFUL RESULTS FROM FOLLOWING ANY INSTRUCTIONS, DIRECTIONS OR RECOMMENDATIONS AVAILABLE AT THE SITE.

Limitation of Liability. UNDER NO CIRCUMSTANCES WILL OPERATOR, OR ANY PARENT COMPANY, SUBSIDIARY, AFFILIATE, DIVISION, OFFICER, DIRECTOR, EMPLOYEE, CONTRACTOR OR AGENT OF OPERATOR, BE LIABLE FOR ANY DAMAGES OF ANY KIND OR NATURE WHATSOEVER, WHETHER DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR OTHERWISE, THAT RESULT FROM THE USE OF, OR THE INABILITY TO USE, THE SITE OR FROM ANY INFORMATION PROVIDED AT THE SITE, INCLUDING THE CONTENT AND YOUR CONTENT. THIS LIMITATION APPLIES WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR ANY OTHER BASIS, AND EVEN IF OPERATOR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

International Use. The Site is intended for use by legal U.S. residents residing within the geographic borders of the United States. If you choose to access the Site from any location other than the United States, you accept full responsibility for compliance with the laws of the jurisdiction where the access occurs. Operator makes no representation that the Site or the Site Materials are appropriate or available for use in locations outside the United States. Accessing the Site or using any of the Site Materials from any jurisdiction where access or use is illegal is prohibited.

Choice of Law. This Agreement will, for all domestic and international purposes, be governed, interpreted, construed and enforced solely and exclusively in accordance with the laws of the State of Utah, without regard to its conflicts of law provisions. You expressly agree that the exclusive jurisdiction for any claim or action arising out of or relating to these Terms of Use or your use of the Site will be filed only in the state or federal courts located in Salt Lake County, State of Utah, and you further agree and submit to the exercise of personal jurisdiction of these courts for the purpose of litigating any such claim or action.

Integration and Severability. These Terms of Use, along with the Privacy Statement , the Notice and Take Down and the Classifieds Terms of Use, if any, posted elsewhere at the Site, constitute the entire agreement between Operator and you with respect to the Site and supersede all prior or contemporaneous communications and proposals with respect to the Site. If any provision of these Terms of Use, the Privacy Statement, the Notice and Take Down or the Classifieds Terms of Use, if any, are determined to be invalid or unenforceable, all other provisions thereof will remain in full force and effect.

Unauthorized Use and Termination. You agree to use the Site only for authorized and legal activities. Operator reserves the right, in its sole discretion, to terminate your access to all or part of the Site at any time and for any or no reason.

**THIS SITE DOES NOT PROVIDE MEDICAL ADVICE The contents of this site, such as text, graphics, images, information obtained from, or contained on this site ("Content") are for informational purposes only. The Content is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on this site!

The owner and operator of this site do not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information that may be mentioned on the site. Reliance on any information provided by the site owner and operator, including their employees, contractors or others appearing on the site at the invitation of the owner and operator, or other visitors to the site is solely at your own risk.

If you think you may have a medical emergency, call your doctor or 911 immediately.**

Contact Information. Questions concerning these Terms of Use or the Site should be directed to webmaster@ksl.com.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
