// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.blue-banner {
  background:$primary;
  padding:30px 0 20px;
  color:$white;
}
