<div class="blue-banner">
  <div class="container">
    <div class="text-center">
      <img class="logo half" src="{{root}}assets/img/logo-white.png" alt="Restore - Hyper Wellness + Cryotherapy">
    </div>
    <img class="hero half" src="{{root}}assets/img/header-copy1.png" alt="You're Steps Away From You're Best Decision Ever">
    <h1>Lets get you on your way to better wellness</h1>
  </div>
</div>
