{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{title}} - Restore Mobile Wallet</title>
    <!-- build:css -->
		<link rel="stylesheet" href="{{root}}assets/css/main.css">
		<!-- endbuild -->
    <link rel="stylesheet" href="{{root}}assets/css/rtl.css">
		<link rel="stylesheet" href="{{root}}assets/fonts/font-awesome5.css">
</head>

<body>
    {{> banner}}
    <main role="main">
        {{> body}}
    </main>
    {{> footer}}
</body>

</html>
